@page "/mystudents"
@inject HttpClient Http

<CardBody>
    <Row>
        <Column>
            <h3>Students</h3>
            <Fields>
                <Field>
                    <FieldBody>
                        <Inline>
                            <Button Color="Color.Primary" Clicked="@ReloadTable" Margin="Margin.Is1" Size="Size.Small" Disabled="RefreshButtonDisabed" Loading="RefreshButtonDisabed"> Refresh</Button>
                            <TextEdit @bind-Text="@customFilterValue" Margin="Margin.Is1" Size="Size.Small" Placeholder="Search" />
                        </Inline>
                    </FieldBody>
                </Field>
            </Fields>
            <DataGrid TItem="StudentModel"
                      @ref="dataGrid"
                      Data="@studentModels"
                      SortMode="DataGridSortMode.Multiple"
                      Striped="true"
                      Bordered="true"
                      Hoverable="true"
                      Filterable="true"
                      PageSize="10"
                      ShowPager="@true"
                      SelectedRowChanged="@OnSelectedRowChanged"
                <EmptyTemplate>No records...</EmptyTemplate>
                <DataGridColumns>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.Id)" Caption="Id" Editable="true">
                        <FilterTemplate>
                            <TextEdit Placeholder="Search by Id" Text="@context.SearchValue" TextChanged="@(v => context.TriggerFilterChange(v))" />
                        </FilterTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.StudentIp)" Caption="StudentIp" Editable="true">
                        <CaptionTemplate>
                            <Icon Name="IconName.Server" /> @context.Caption
                        </CaptionTemplate>
                        <FilterTemplate>
                            <TextEdit Placeholder="Search by Ip" Text="@context.SearchValue" TextChanged="@(v => context.TriggerFilterChange(v))" />
                        </FilterTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.StudentServicesAPISocketAddress)" Caption="StudentServicesAPISocketAddress" Editable="true" PopupFieldColumnSize="ColumnSize.IsFull.OnDesktop">
                        <CaptionTemplate>
                            <Icon Name="IconName.Server" /> @context.Caption
                        </CaptionTemplate>
                        <FilterTemplate>
                            <TextEdit Placeholder="Search by StudentServicesAPISocketAddress" Text="@context.SearchValue" TextChanged="@(v => context.TriggerFilterChange(v))" />
                        </FilterTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.IsActive)" Caption="IsActive" Editable="true">
                        <CaptionTemplate>
                            <Icon Name="IconName.GripLines" /> @context.Caption
                        </CaptionTemplate>
                        <FilterTemplate>
                            <TextEdit Placeholder="Search by IsActive" Text="@context.SearchValue" TextChanged="@(v => context.TriggerFilterChange(v))" />
                        </FilterTemplate>
                    </DataGridColumn>
                </DataGridColumns>
            </DataGrid>
        </Column>
    </Row>
</CardBody>


@code
{
    DataGrid<StudentModel> dataGrid;
    List<StudentModel> studentModels;


    protected override async Task OnInitializedAsync()
    {
        await ReloadTable();
    }

    async Task ReloadTable()
    {
        // Update our Students list
        IEnumerable<StudentModel> getStudentsResponse = await Http.GetFromJsonAsync<IEnumerable<StudentModel>>(@"GetStudents");
        studentModels = new List<StudentModel>(getStudentsResponse);




        // always call StateHasChanged!
        StateHasChanged();
    }

    void OnSelectedRowChanged()
    {
        StateHasChanged();
    }
}
