@page "/mystudents"
@inject HttpClient Http

<CardBody>
    <Row>
        <Column>
            <h3>Students</h3>
            <Fields>
                <Field>
                    <FieldBody>
                        <Inline>
                            <Button Color="Color.Primary" Clicked="@ReloadTable" Margin="Margin.Is1" Size="Size.Small" Disabled="RefreshButtonDisabed" Loading="RefreshButtonDisabed"> Refresh</Button>
                        </Inline>
                    </FieldBody>
                </Field>
            </Fields>
            <DataGrid TItem="StudentModel"
                      @ref="dataGrid"
                      Data="@studentModels"
                      SortMode="DataGridSortMode.Multiple"
                      Striped="true"
                      Bordered="true"
                      Hoverable="true"
                      Filterable="true"
                      PageSize="10"
                      ShowPager="@true"
                      SelectedRowChanged="@OnSelectedRowChanged">
                <EmptyTemplate>No records...</EmptyTemplate>
                <DataGridColumns>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.Id)" Caption="Id" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.StudentIdNumber)" Caption="StudentIdNumber" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.FirstName)" Caption="FirstName" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.LastName)" Caption="LastName" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.Birthday)" Caption="Birthday" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.Address)" Caption="Address" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.Major)" Caption="Major" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.FirstYearEnrolled)" Caption="FirstYearEnrolled" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.HighSchoolAttended)" Caption="HighSchoolAttended" Editable="true">
                    </DataGridColumn>
                    <DataGridColumn TItem="StudentModel" Field="@nameof(StudentModel.UndergraduateSchoolAttended)" Caption="UndergraduateSchoolAttended" Editable="true">
                    </DataGridColumn>
                </DataGridColumns>
            </DataGrid>
        </Column>
    </Row>
</CardBody>



@code
{
    DataGrid<StudentModel> dataGrid;
    List<StudentModel> studentModels;
    bool RefreshButtonDisabed;


    protected override async Task OnInitializedAsync()
    {
        await ReloadTable();
    }

    async Task ReloadTable()
    {
        // Update our Students list
        IEnumerable<StudentModel> getStudentsResponse = await Http.GetFromJsonAsync<IEnumerable<StudentModel>>(@"GetStudents");
        studentModels = new List<StudentModel>(getStudentsResponse);




        // always call StateHasChanged!
        StateHasChanged();
    }

    void OnSelectedRowChanged()
    {
        StateHasChanged();
    }







}
